<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/InsData">
	<center>
		<h2> Fill All Details </h2>
	
		<table>
			<tr>
				<td> Enter Name </td>
				<td> <input type="text" name="name" required> </td>
			</tr>
		
			<tr>
				<td> Enter Designation </td>
				<td> <input type="text" name="desig" required=""></td>
			</tr>

			<tr>
				<td> Enter Salary </td>
				<td> <input type="text" name="salary" required=""></td>
			</tr>

			<tr>
				<td colspan="2"> <center> <input type="submit" value="Save Data"> </center> </td>
			</tr>
		</table> 

	</center>

</form>
</body>
</html>